{% extends 'index.html' %}

{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <h3>Password Reset</h3>
        <p>Forgotten your password? Enter your email address below, and we will email you a link</p>
        <br>
        <div class="formWrapper">
            <a class="backButton" href="#"><i class="im im-angle-left"></i></a>
            <br>

            <form class="form" method="POST">
                {% csrf_token %}
                <!-- Input:Text -->
                <div class="form__field">
                    <label for="formInput#text">{{ form.label }}</label>
                    {{ form }}
                    <!-- <input class="input input--text" id="formInput#text" type="email" name="email" placeholder="Enter email" /> -->
                </div>

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>

{% endblock %}